@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

main {
    min-height: calc(100vh - 30px);
}

.arrow-down {
    border: solid hsl(var(--bc));
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 5px;
    transform: rotate(45deg);
}

.vertical-line {
    border-left: 2px solid hsl(var(--bc));
}

body {
    max-width: 100vw;
    overflow-x: hidden;
}

.clamp-height {
    max-height: 100vh;
    overflow-y: hidden;
}

.tap-highlight-transparent {
    -webkit-tap-highlight-color: transparent;
}
